/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path:'../lib/ionic/fonts' !default;
// Include all of Ionic
@import 'www/lib/ionic/scss/ionic';

.content-stable {
  background: $stable;
}

.messaging-view {

  .scroll {
    min-height: 100%;
    padding: 10px 0 50px;
  }

  .message {

    padding: 0 10px 10px;

    .photo {
      height: 44px;
      width: 44px;
      background-color: #d6d6d6;
      background-size: cover;
      float: left;
      font-size: 50px;
      text-align: center;
      border-radius: 50%;
      overflow: hidden;
    }

    .message {
      overflow: hidden;
      padding: 5px 5px 0;
      text-align: left;


      span {
        background: #fff;
        padding: 10px;
        display: inline-block;
        border-radius: 10px;
        text-align: left;
      }

    }

    &.other {
      .photo {
        float: right;
      }

      .message {
        text-align: right;

        span {

        }
      }
    }
  }

  .message-input {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #fff;
    z-index: 20;

    input {
      width: 100%;
      height: 100%;
      background: none;

      padding: 0 15px;
    }
  }
}
